.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: .5rem;
  }
  
  .card > div {
    display: flex;
    gap: .5rem;
  }
  
  .card button, .card a {
    width: 100%;
  }